#game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 5rem;
  margin-bottom: 1rem;
}

#board {
  margin: 1rem 0;
  width: 24rem;
  height: 24rem;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.white-square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #f0d9b5;
}

.black-square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #b58863;
}

.piece {
  height: 3rem;
  width: 3rem;
}

.piece:hover {
  transform: scale(1.1);
}